<app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'label':'Ajouter une nouvelle resource', 'icon': 'fa-plus', 'action':'add', 'task': 'addNewResource', 'args': [{}]}]"></app-jarvis-toolbar-resource>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="myMatResources" class="table-resource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let resource">
      <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'dropResource','args':[resource],'icon':'fa-trash','label':'Supprimer'},{'task':'view','args':[resource],'icon':'fa-link','label':'Voir'}]"></app-jarvis-toolbar-resource>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['id','name','action']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id','name','action'];"></tr>
</table>
<mat-paginator #paginator [pageSize]="10"></mat-paginator>
