<app-jarvis-toolbar-resource [notified]="this" [crud]="true"></app-jarvis-toolbar-resource>

<div *ngIf="myModel">

  <mat-tab-group>
    <mat-tab label="Scene">
    </mat-tab>
    <mat-tab label="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Nom" [(ngModel)]="myModel.name">
            </mat-form-field>
          </div>
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Icône" [(ngModel)]="myModel.icon">
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>