<app-jarvis-toolbar-resource [notified]="this" [crud]="true"></app-jarvis-toolbar-resource>

<div *ngIf="myConfiguration">
  <mat-tab-group>
    <mat-tab label="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Nom" [(ngModel)]="myConfiguration.name">
            </mat-form-field>
          </div>
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Icône" [(ngModel)]="myConfiguration.icon">
            </mat-form-field>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <mat-form-field>
              <mat-checkbox binary="true" [(ngModel)]="myConfiguration.active">Active</mat-checkbox>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Présentation">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Opacité: 0" [(ngModel)]="myConfiguration.opacity">
            </mat-form-field>
          </div>
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Image de fond" [(ngModel)]="myConfiguration.backgroundUrl">
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Configuration du système">      
      <table mat-table [dataSource]="myMatResources" class="table-resource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="lastExecution">
          <th mat-header-cell *matHeaderCellDef> Last execution </th>
          <td mat-cell *matCellDef="let element"> {{element.lastExecution}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id','name','lastExecution']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id','name','lastExecution'];"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>

</div>