<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [tasks]="[{'task':'execute','icon':'fa-play','label':'Simuler (execution)'}]"
  [pickers]="[{'label':'Ajouter une crontab', 'icon': 'fa-bolt', 'action':'crons'}]"></app-jarvis-toolbar-resource>

<div *ngIf="myTrigger">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Entête
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Nom" [(ngModel)]="myTrigger.name">
              <mat-hint align="start">
                <strong>Nom du trigger</strong>
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Icône" [(ngModel)]="myTrigger.icon">
              <mat-hint align="start">
                <strong>Awesome icône</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Broker
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Souscription" [(ngModel)]="myTrigger.topic">
              <mat-hint align="start">
                <strong>Topic de souscription (rflink ...)</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field style="display: inline;">
              <textarea matInput [(ngModel)]="myTrigger.body" maxlength="1024" placeholder="Script"></textarea>
              <mat-hint align="start">
                <strong>Script LUA avec en entrée l'objet message (disponible comme une variable)</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <pre><code [innerHtml]="hightlight(myTrigger.body)"></code></pre>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Périodicité (count : {{myMatResources.data.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'label':'Ajouter une crontab', 'icon': 'fa-bolt', 'action':'crons', 'picker': pickCrons}]"></app-jarvis-toolbar-resource>
      <table mat-table [dataSource]="myMatResources" class="table-resource">
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef> Order </th>
          <td mat-cell *matCellDef="let element">
            <input type="text" size="2" pInputText [(ngModel)]="element.extended.order" />
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="instance">
          <th mat-header-cell *matHeaderCellDef> Instance </th>
          <td mat-cell *matCellDef="let element"> {{element.extended.instance}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let cron">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateCronLink','args':[cron],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropCronLink','args':[cron],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoCronLink','args':[cron],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['order','id','instance','name','action']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['order','id','instance','name','action'];"></tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Devices liées (count : {{myMatDevicesResources.data.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="myMatDevicesResources" class="table-resource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id','name']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id','name'];"></tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Processus liés (count: {{myMatProcessesResources.data.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="myMatProcessesResources" class="table-resource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id','name']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id','name'];"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

</div>
