<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [pickers]="[{'label':'Ajouter des devices à la vue', 'icon': 'fa-server', 'action': 'devices'}]"></app-jarvis-toolbar-resource>

<div *ngIf="myView">

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Entête
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field class="input-full-width">
              <input matInput placeholder="Nom" [(ngModel)]="myView.name">
            </mat-form-field>
          </div>
          <div class="ui-grid-col-6">
            <mat-form-field class="input-full-width">
              <input matInput placeholder="Icône" [(ngModel)]="myView.icon">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <mat-form-field class="input-full-width">
              <input matInput placeholder="Image de fond: http://localhost/image.jpg" [(ngModel)]="myView.url">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <mat-checkbox [(ngModel)]="myView.ishome">Vue principale {{myView.ishome}}</mat-checkbox>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let element of myView.devices">
      <mat-expansion-panel-header>
        <mat-panel-title>Device : {{element.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field class="table-resource">
        <input matInput placeholder="Order" [(ngModel)]="element.extended.order">
      </mat-form-field>
      <mat-form-field class="table-resource">
        <input matInput placeholder="Id." value="{{element.id}}" disabled>
      </mat-form-field>
      <mat-form-field class="table-resource">
        <input matInput placeholder="Instance" value="{{element.extended.instance}}" disabled>
      </mat-form-field>
      <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateDeviceLink','args':[element],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropDeviceLink','args':[element],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoDeviceLink','args':[element],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
    </mat-expansion-panel>
  </mat-accordion>
</div>
