<app-jarvis-toolbar-resource [notified]="this" [crud]="true"></app-jarvis-toolbar-resource>

<div *ngIf="myView">

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Entête
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field class="input-full-width">
              <input matInput placeholder="Nom" [(ngModel)]="myView.name">
            </mat-form-field>
          </div>
          <div class="ui-grid-col-6">
            <mat-form-field class="input-full-width">
              <input matInput placeholder="Icône" [(ngModel)]="myView.icon">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <mat-form-field class="input-full-width">
              <input matInput placeholder="Image de fond: http://localhost/image.jpg" [(ngModel)]="myView.url">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <mat-checkbox [(ngModel)]="myView.ishome">Vue principale {{myView.ishome}}</mat-checkbox>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Devices
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'label':'Ajouter des devices à la vue', 'icon': 'fa-server', 'action':'devices', 'picker': pickDevices}]"></app-jarvis-toolbar-resource>
      <table mat-table [dataSource]="devices" class="table-resource">
        <ng-container matColumnDef="ordre">
          <th mat-header-cell *matHeaderCellDef> Order </th>
          <td mat-cell *matCellDef="let device">
            <input type="text" size="2" pInputText [(ngModel)]="device.extended.order" />
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="instance">
          <th mat-header-cell *matHeaderCellDef> Instance </th>
          <td mat-cell *matCellDef="let element"> {{element.extended.instance}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let device">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateDeviceLink','args':[device],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropDeviceLink','args':[device],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoDeviceLink','args':[device],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['ordre','id','instance','name','action']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['ordre','id','instance','name','action'];"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<app-jarvis-picker #pickDevices [resource]="{'service':'devices','action':'devices','label':'Devices'}"></app-jarvis-picker>