<mat-toolbar>
    <button mat-icon-button *ngIf="crud" pTooltip="Retour" tooltipPosition="bottom" (click)="close()">
        <mat-icon fontSet="fa" fontIcon="fa-reply"></mat-icon>
    </button>
    <button mat-icon-button *ngIf="crud" pTooltip="Dupliquer" tooltipPosition="bottom" (click)="duplicate()">
        <mat-icon fontSet="fa" fontIcon="fa-copy"></mat-icon>
    </button>
    <button mat-icon-button *ngIf="crud" pTooltip="Supprimer" tooltipPosition="bottom" (click)="dropResource()">
        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
    </button>
    <button mat-icon-button *ngIf="crud" pTooltip="Sauver" tooltipPosition="bottom" (click)="save()">
        <mat-icon fontSet="fa" fontIcon="fa-save"></mat-icon>
    </button>

    <button mat-icon-button *ngFor="let task of tasks; let index = index" pTooltip="{{task.label}}" tooltipPosition="right" (click)="taskCallback(task)">
        <mat-icon fontSet="fa" fontIcon="{{task.icon}}"></mat-icon>
    </button>
    <button mat-icon-button *ngFor="let picker of pickers; let index = index" pTooltip="{{picker.label}}" tooltipPosition="right"
        (click)="pickerCallback(picker)">
        <mat-icon fontSet="fa" fontIcon="{{picker.icon}}"></mat-icon>
    </button>
</mat-toolbar>
