<mat-sidenav-container [style.height.px]="myInnerHeight" class="example-container">
    <mat-toolbar>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/desktop']">
            <mat-icon fontSet="fa" fontIcon="fa-th-large"></mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/graph']">
            <mat-icon fontSet="fa" fontIcon="fa-object-group"></mat-icon>
        </button>
        <button mat-icon-button (click)="showMe()">
            <mat-icon fontSet="fa" fontIcon="fa-address-card-o"></mat-icon>
        </button>
        <button mat-icon-button (click)="showHelp()">
            <mat-icon fontSet="fa" fontIcon="fa-podcast"></mat-icon>
        </button>
        <button mat-icon-button (click)="showVersion()">
            <mat-icon fontSet="fa" fontIcon="fa-code-fork"></mat-icon>
        </button>
    </mat-toolbar>
    <div>
        <router-outlet></router-outlet>
    </div>
    <mat-sidenav #sidenav>
        <div *ngIf="dispHelp" [innerHTML]="help"></div>
    </mat-sidenav>
    <p-dialog appendTo="body" header="Me" [(visible)]="dispMe" modal="true">
        Email
        <input type="text" pInputText [(ngModel)]="me && me.attributes.email" disabled/>
    </p-dialog>
    <p-dialog appendTo="body" header="Version" [(visible)]="dispVersion" modal="true">
        <pre>{{vers | json}}</pre>
    </p-dialog>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="core">Core</button>
    <button mat-menu-item [matMenuTriggerFor]="activation">Activation</button>
    <button mat-menu-item [matMenuTriggerFor]="code">Code</button>
    <button mat-menu-item [matMenuTriggerFor]="misc">Misc</button>
</mat-menu>

<mat-menu #core="matMenu">
    <button mat-menu-item [routerLink]="item.routerLink" *ngFor="let item of items[1].items[0].items">
        <mat-icon class="mat-icon-menu" fontSet="fa" fontIcon="{{item.icon}}"></mat-icon>
        <span>{{item.label}}</span>
    </button>
</mat-menu>

<mat-menu #activation="matMenu">
    <button mat-menu-item [routerLink]="item.routerLink" *ngFor="let item of items[1].items[1].items">
        <mat-icon class="mat-icon-menu" fontSet="fa" fontIcon="{{item.icon}}"></mat-icon>
        <span>{{item.label}}</span>
    </button>
</mat-menu>

<mat-menu #code="matMenu">
    <button mat-menu-item [routerLink]="item.routerLink" *ngFor="let item of items[1].items[2].items">
        <mat-icon class="mat-icon-menu" fontSet="fa" fontIcon="{{item.icon}}"></mat-icon>
        <span>{{item.label}}</span>
    </button>
</mat-menu>

<mat-menu #misc="matMenu">
    <button mat-menu-item [routerLink]="item.routerLink" *ngFor="let item of items[1].items[3].items">
        <mat-icon class="mat-icon-menu" fontSet="fa" fontIcon="{{item.icon}}"></mat-icon>
        <span>{{item.label}}</span>
    </button>
</mat-menu>