<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [tasks]="[{'task':'render','icon':'fa-check','label':'Test le rendu du device'},{'task':'execute','icon':'fa-exchange','label':'Test l\'execution du device'}]"
  [pickers]="[{'action':'devices','icon':'fa-server','label':'Ajouter un container'},{'action':'triggers','icon':'fa-send','label':'Ajouter un trigger'},{'action':'plugins','icon':'fa-podcast','label':'Ajouter un plugin'}]"></app-jarvis-toolbar-resource>

<div *ngIf="myDevice">

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Entête
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Nom" [(ngModel)]="myDevice.name">
            </mat-form-field>
          </div>
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Icône" [(ngModel)]="myDevice.icon">
            </mat-form-field>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Paramètres" [(ngModel)]="myDevice.parameters">
            </mat-form-field>
          </div>
          <div class="ui-grid-col-1">
            <mat-checkbox [(ngModel)]="myDevice.visible"></mat-checkbox>
          </div>
          <div class="ui-grid-col-5">
            <mat-form-field>
              <input matInput placeholder="Visibilité" [(ngModel)]="myDevice.visible" disabled>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Détails
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div [innerHtml]="sanitize(myDetail)"></div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Triggers (count : {{myMatTriggersResources.data.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'action':'triggers','icon':'fa-send','label':'Ajouter un trigger','picker': pickTriggers}]"></app-jarvis-toolbar-resource>
      <table mat-table [dataSource]="myMatTriggersResources" class="table-resource">
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef> Order </th>
          <td mat-cell *matCellDef="let element">
            <input type="text" size="2" pInputText [(ngModel)]="element.extended.order" />
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="instance">
          <th mat-header-cell *matHeaderCellDef> Instance </th>
          <td mat-cell *matCellDef="let element"> {{element.extended.instance}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let trigger">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateTriggerLink','args':[trigger],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropTriggerLink','args':[trigger],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoTriggerLink','args':[trigger],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['order','id','instance','name','action']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['order','id','instance','name','action'];"></tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Devices (count : {{myMatDevicesResources.data.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'action':'devices','icon':'fa-server','label':'Ajouter un device','picker': pickDevices}]"></app-jarvis-toolbar-resource>
      <table mat-table [dataSource]="myMatDevicesResources" class="table-resource">
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef> Order </th>
          <td mat-cell *matCellDef="let element">
            <input type="text" size="2" pInputText [(ngModel)]="element.extended.order" />
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="instance">
          <th mat-header-cell *matHeaderCellDef> Instance </th>
          <td mat-cell *matCellDef="let element"> {{element.extended.instance}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let device">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateDeviceLink','args':[device],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropDeviceLink','args':[device],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoDeviceLink','args':[device],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['order','id','instance','name','action']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['order','id','instance','name','action'];"></tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Plugins (count : {{myMatPluginsResources.data.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'action':'plugins','icon':'fa-podcast','label':'Ajouter un plugin','picker': pickPlugins}]"></app-jarvis-toolbar-resource>
      <table mat-table [dataSource]="myMatPluginsResources" class="table-resource">
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef> Order </th>
          <td mat-cell *matCellDef="let element">
            <input type="text" size="2" pInputText [(ngModel)]="element.extended.order" />
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="instance">
          <th mat-header-cell *matHeaderCellDef> Instance </th>
          <td mat-cell *matCellDef="let element"> {{element.extended.instance}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let plugin">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updatePluginLink','args':[plugin],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropPluginLink','args':[plugin],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoPluginLink','args':[plugin],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['order','id','instance','name','action']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['order','id','instance','name','action'];"></tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rendu
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">
            <mat-form-field>
              <input matInput placeholder="Couleur de la cellule" [(ngModel)]="myDevice.tagColor">
            </mat-form-field>
          </div>
          <div class="ui-grid-col-3">
            <mat-form-field>
              <input matInput placeholder="Opacité de la cellule" [(ngModel)]="myDevice.tagOpacity">
            </mat-form-field>
          </div>
          <div class="ui-grid-col-3">
            <mat-form-field>
              <input matInput placeholder="Couleur du texte de la cellule" [(ngModel)]="myDevice.tagTextColor">
            </mat-form-field>
          </div>
          <div class="ui-grid-col-3">
            <mat-form-field>
              <input matInput placeholder="Icône" [(ngModel)]="myDevice.icon">
            </mat-form-field>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="myDevice.rowSpan" [(ngModel)]="myDevice.rowSpan">
            </mat-form-field>
          </div>
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Nombre de colonne de la cellule" [(ngModel)]="myDevice.colSpan">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <mat-form-field>
              <textarea matInput placeholder="Paramétrage de la tuile" [(ngModel)]="myDevice.template"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <pre class="language-html"><code pCode>{{myDevice.template}}</code></pre>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <app-jarvis-tile [myDevice]="myDevice"></app-jarvis-tile>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
