<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [tasks]="[{'task':'execute','icon':'fa-gear','label':'Simuler (execution)'},{'task':'render','icon':'fa-bolt','label':'Simuler (rendu)'},{'task':'clear','icon':'fa-ban','label':'Effacer le contexte'}]"
  [pickers]="[{'action':'commands','icon':'fa-plug','label':'Ajouter une commande'}]"></app-jarvis-toolbar-resource>

<div *ngIf="myPlugin">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Entête
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Nom" [(ngModel)]="myPlugin.name">
            </mat-form-field>
          </div>
          <div class="ui-grid-col-6">
            <mat-form-field>
              <input matInput placeholder="Icône" [(ngModel)]="myPlugin.icon">
            </mat-form-field>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-8">
            <mat-select placeholder="Catégorie" [(ngModel)]="myPlugin.type">
              <mat-option *ngFor="let item of types" [value]="item.value">
                {{ item.label }}
              </mat-option>
            </mat-select>
          </div>
          <div class="ui-grid-col-2">
            <mat-checkbox [(ngModel)]="myPlugin.visible">Visible</mat-checkbox>
          </div>
          <div class="ui-grid-col-2">
            <mat-checkbox [(ngModel)]="myPlugin.active">Actif</mat-checkbox>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Commande (count : {{myMatResources.data.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="myMatResources" class="table-resource">
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef> Order </th>
          <td mat-cell *matCellDef="let element">
            <input type="text" size="2" pInputText [(ngModel)]="element.extended.order" />
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="instance">
          <th mat-header-cell *matHeaderCellDef> Instance </th>
          <td mat-cell *matCellDef="let element"> {{element.extended.instance}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let command">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateCommandLink','args':[command],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropCommandLink','args':[command],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'viewCommandLink','args':[command],'icon':'fa-eye','label':'Visualiser'},{'task':'gotoCommandLink','args':[command],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['order','id','instance','name','action']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['order','id','instance','name','action'];"></tr>
      </table>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Détails
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-jarvis-graph [graph]="graph" [options]="options"></app-jarvis-graph>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mise au point
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <mat-form-field>
              <input matInput placeholder="Données de test (json)" [(ngModel)]="myJsonData">
            </mat-form-field>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">
            Données de test (convertie)
          </div>
          <div class="ui-grid-col-9">
            <pre><code [innerHtml]="pretty(myData)"></code></pre>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">
            Données de test (résultat)
          </div>
          <div class="ui-grid-col-9">
            <pre><code [innerHtml]="pretty(myOutputData)"></code></pre>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <p-dialog appendTo="body" header="Commande" [(visible)]="display" modal=true responsive=true width="700" resizable=false>
    <div *ngIf="myCommand">
      <p-fieldset legend="Entête" toggleable="true">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              <mat-form-field>
                <input matInput placeholder="Identifiant de la commande" [(ngModel)]="myCommand.id" disabled>
              </mat-form-field>
            </div>
            <div class="ui-grid-col-4">
              <mat-form-field>
                <input matInput placeholder="Instance de la commande" [(ngModel)]="myCommand.extended.instance" disabled>
              </mat-form-field>
            </div>
            <div class="ui-grid-col-4">
              <mat-form-field>
                <input matInput placeholder="Nom de la commande" [(ngModel)]="myCommand.name">
              </mat-form-field>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]="myCommand.extended.name">
              </mat-form-field>
            </div>
            <div class="ui-grid-col-4">
              <mat-form-field>
                <input matInput placeholder="Nature (json)" [(ngModel)]="myCommand.extended.nature">
              </mat-form-field>
            </div>
            <div class="ui-grid-col-4">
              <mat-form-field>
                <input matInput placeholder="Type (action)" [(ngModel)]="myCommand.extended.type">
              </mat-form-field>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <mat-form-field>
                <input matInput placeholder="Paramètre(s) (json)" [(ngModel)]="myCommand.extended.parameter">
              </mat-form-field>
            </div>
          </div>
        </div>
        <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateCommandLink','args':[myCommand],'icon':'fa-save','label':'Mettre à jour le lien'}]"></app-jarvis-toolbar-resource>
      </p-fieldset>
      <p-fieldset legend="Source" toggleable="true">
        <pre><code [innerHtml]="hightlight(myCommand.body)"></code></pre>
      </p-fieldset>
    </div>
  </p-dialog>